<li>
  <%= link_to "javascript:;", data: { toggle: "collapse", target: "#category#{taxonomy.id}" } do %>
    <%= taxonomy.name %><i class="fa fa-plus"></i>
  <% end %>
  <ul id="category<%= taxonomy.id %>" class="collapse collapseItem">
    <% taxonomy.root.leaves.includes(:products).each do |taxon| %>
      <% next if taxon.products.blank? %>
      <li>
        <%= link_to potepan_category_path(taxon.id), id: "taxon#{taxon.id}" do %>
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <%= taxon.name %>
          <span>(<%= taxon.products.count %>)</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
