<% provide :title, @taxon.name %>
<%= render 'layouts/light_section', { taxon_name: @taxon.name } %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">      
                <%= render partial: 'taxonomy', collection: @taxonomies, as: :taxonomy %>
              </ul>
            </div>
          </div>
        </div>
        <%= render 'product_filters' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'layout_switches' %>
        <div class="row">
          <%= render partial: 'categorized_products', collection: @products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'under_light_section' %>
