<% if product.gallery.images %>
  <% product.gallery.images.each_with_index do |image, i| %>
  <% next if image.viewable_id != product.master.id %>
    <div class="item <%= "active" if i.zero? %>" data-thumb="<%= image.position - 1 %>">
      <%= image_tag(image.url(:large)) %>
    </div>
  <% end %>
<% end %>
