<% product.gallery.images.each do |image| %>
  <% next if image.viewable_id != product.master.id %>
  <div data-target="#carousel" data-slide-to="<%= image.position - 1 %>" class="thumb">
    <%= link_to(image_tag(image.url(:small))) %>
  </div>
<% end %>
