<% provide :title, @product.name %>
<%= render 'layouts/light_section', taxon_name: @product.name %>
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'media_left', product: @product %>
          <%= render 'media_right', product: @product %>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: 'related_products', collection: @related_products, as: :related_product %>
    </div>
  </div>
</section>
